@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Sistema Escolar</h2>
    <br />
    <p>
        <img style="width:26%; height:26%" src="https://media.istockphoto.com/id/473741360/es/vector/concepto-de-mecanismo-de-educaci%C3%B3n.jpg?s=612x612&w=0&k=20&c=_kC11Pg9XXhOoKWIcwUEybNLH6WjbLLmXGjtTAMCbHM=" />
    </p>
    <h4>Desarrollado por: Berenice Alcocer Navarro</h4>
</div>
